<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @foto.name %>
</p>

<p>
  <b>Price:</b>
  <%= @foto.price %>
</p>


<%= link_to 'Edit', edit_foto_path(@foto) %> |
<%= link_to 'Back', fotos_path %>
